*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F5F7FA;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    height:calc(100vh - 72px);
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom:60px; /* altura do footer */
}

.cards-grid{
    display:grid;
    grid-template-columns:repeat(2,260px);
    gap:32px;
}